<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 将 mapper.xml 中的namespace 设置为 mapper.java 的全限定名。 -->
<mapper namespace="com.xh.dao.UserDao">

    <insert id="addUser" parameterType="com.xh.bean.UserBean">
        INSERT INTO user value (#{id}, #{username}, #{age})
    </insert>

    <update id="updateUser" parameterType="com.xh.bean.UserBean">
        UPDATE user
        SET username=#{username},
            age     = #{age}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

    <select id="getUserById" parameterType="int" resultType="com.xh.bean.UserBean">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getUserAll" resultType="com.xh.bean.UserBean">
        SELECT *
        FROM user
    </select>
    <!--动态SQL ⬇-->
    <update id="updateUser_better" parameterType="com.xh.bean.UserBean">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="age != 0">age = #{age},</if>
        </set>
        WHERE id=#{id}
    </update>

<select id="getUserBy_better" parameterType="com.xh.bean.UserBean" resultType="com.xh.bean.UserBean">
    SELECT * FROM user
    <trim prefix="WHERE" prefixOverrides="AND ">
        <if test="username!=null">
            AND username = #{username}
        </if>
        <if test="age!=0">
            AND age = #{age}
        </if>
        <if test="id!=0">
            AND id=#{id}
        </if>
    </trim>
</select>
    
    <select id="getUserBy_Fuzzy" resultType="com.xh.bean.UserBean">
        SELECT * FROM user WHERE username like #{username}
    </select>
</mapper>